<!DOCTYPE html>
<html>
<head>
    <title>
        {{ app_name }}
    </title>
    <link rel="stylesheet" href="https://unpkg.com/react-select@1.2.1/dist/react-select.css">
</head>

<body class="page-content">
    <div class="wrapper">
        <div id="content" class="container">
            <div id="diagnoser-container"
                 data-app-name="{{ app_name }}"
                 data-symptoms="{{ symptoms }}">

            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>

</html>
